header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222e50;
    color: #FFFFFF;
    flex-wrap: wrap;
}

header .title h1 {
    margin: 0;
    font-size: 1.8em;
}

header nav {
    display: flex;
    gap: 15px;
}

header nav .btn {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #0093b4;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header nav .btn:hover {
    background-color: #21629f;
    color: #FFFFFF;
}